@use 'sass:map';
@import 'src/styles/styles';

$hint: map.get($fontSize, hint);

.bell {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  position: relative;

  .bell__count {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: orange;
    transform: translate($hint * 1.5, - $hint);
    z-index: 1;

    width: map.get($fontSize, hint) * 2.5;
    height: map.get($fontSize, hint) * 2.5;
    color: map.get($color, onPrimary);
    font-weight: map.get($fontWeight, thin);
    font-size: map.get($fontSize, hint);
  }

  .bell__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    font-size: map.get($fontSize, huge);
  }

  .bell__notification {
    position: absolute;
    transform: translate(-240px, 45px);
    z-index: 3;


  }

}
