@use 'sass:map';

$color: (
  primary: #EB8585,
  primaryVariant: #D97F7F,
  onPrimary: #FFF3F3,
  onPrimaryVariant: #ACA4A4,
  onSurface: #676767,
  onSurfaceVariant: #ACA4A4,
  onError: #FFF3F3,
  error: #EB2F2F,
  valid: #2CA42A,
  surface: white,
);

$fontSize: (
  hint: 8px,
  body: 12px,
  subtitle: 18px,
  headline: 24px,
  huge: 40px,
);

$fontWeight: (
  thin: normal,
  regular: 500,
  medium: 600,
  thick: bold,
);

$borderWidth: (
  thin: 1px,
  medium: 3px,
  thick: 5px,
);

$borderRadius: 6px;

$padding: (
  little: 20px,
  medium: 40px,
  large: 80px,
);

$shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
