@import "~@angular/material/theming";

$color: (
  primary: #5d9125,
  primaryVariant: #9ccb51,
  secondary: #bfab21,
  secondaryVariant: #e0c977,
  onSurface: black,
  onSurfaceVariant: grey,
  onPrimary: white,
  onSecondary: white,
  onError: white,
  error: red,
  valid: green,
  surface: white,
);

$text: (
  size: (
    body: 14px,
    subtitle: 20px,
    headline: 30px,
  ),
  thickness: (
    thin: normal,
    medium: 600,
    thick: bold,
  ),
);

$border: (
  thin: 5px,
  thick: 10px,
);

$borderRadius: 130px;

$padding: (
  little: 15px,
  medium: 30px,
  large: 65px,
);
