@import "~@angular/material/theming";
$color: (
  primary: $mat-indigo,
  primaryVariant: $mat-amber,
  secondary: #bfab21,
  secondaryVariant: #e0c977,
  onSurface: black,
  onSurfaceVariant: grey,
  onPrimary: white,
  onSecondary: white,
  onError: white,
  error: $mat-red,
  valid: $mat-green,
  surface: white,
);

$text: (
  size: (
    body: 14px,
    subtitle: 20px,
    headline: 30px,
  ),
  thickness: (
    thin: normal,
    medium: 600,
    thick: bold,
  ),
);

$border: (
  thin: 5px,
  thick: 10px,
);

$borderRadius: 25px;

$padding: (
  little: 5px,
  medium: 15px,
  large: 30px,
);
