@use "sass:map";
@import "src/styles/helpers/constants";

.input--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .input__label {
      display: block;
      padding: map.get($padding, medium) 0;
      color: map.get($color, onSurface);

      font-weight: map.get($fontWeight, medium);
      font-size: map.get($fontSize, subtitle);
      font-style: normal;
    }

    .input__text {
      display: block;

      padding: map.get($padding, medium);
      background: map.get($color, surface);

      border-style: solid;
      border-width: map.get($borderWidth, medium);
      border-radius: $borderRadius;

      font-size: map.get($fontSize, normal);
      color: map.get($color, onSurface);
      font-weight: map.get($fontWeight, normal);
      border-color: map.get($color, onSurface);

      &.is-error-state {
        border-color: map.get($color, error);
      }
    }
  }

  .input__errors {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-evenly;
    align-items: flex-start;

    .input__error {
      display: block;
      padding: map.get($padding, little);

      font-size: map.get($fontSize, body);
      color: map.get($color, error);
      font-weight: map.get($fontWeight, normal);
    }
  }
}

