@use 'sass:map';
@import 'styles';

$hint: map.get($fontSize, hint);
$notificationPopUpSize: 300px;
$triangleSize: 30px;

//.backdrop {
//  position: fixed;
//  z-index: 2;
//  width: 100%;
//  height: 100%;
//  opacity: 0.6;
//}

.bell {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  position: relative;

  .bell__count {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: orange;
    transform: translate($hint * 1.5, - $hint);
    z-index: 1;

    width: map.get($fontSize, hint) * 2.5;
    height: map.get($fontSize, hint) * 2.5;
    color: map.get($color, onPrimary);
    font-weight: map.get($fontWeight, thin);
    font-size: map.get($fontSize, hint);
  }

  .bell__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    font-size: map.get($fontSize, huge);
  }

  .bell__notification {
    position: absolute;
    transform: translate(-240px, 45px);
    z-index: 3;


    .bell__notification--list {
      position: absolute;

      width: $notificationPopUpSize;
      height: $notificationPopUpSize;
      border-radius: $borderRadius;
      background-color: white;
      box-shadow: $shadow;
    }

    .bell__notification--triangle {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate($notificationPopUpSize - ($triangleSize + 60px), -15px);

      width: 0;
      height: 0;
      border-left: $triangleSize solid transparent;
      border-right: $triangleSize solid transparent;

      border-bottom: $triangleSize solid white;
    }
  }
}
