@use 'sass:map';
@import "styles";

.button {
  display: block;
  text-align: center;

  padding: map.get($padding, medium);
  background-color: map.get($color, primary);
  width: 100%;
  height: 100%;

  color: map.get($color, onPrimary);
  font-size: map.get($fontSize, normal);
  font-weight: map.get($fontWeight, medium);

  box-shadow: $shadow;
  border: none;
  border-radius: $borderRadius;

  &:hover {
    color: map.get($color, onPrimaryVariant);
  }

  &.disabled {
    color: map.get($color, onPrimaryVariant);
    background-color: map.get($color, primaryVariant);
  }
}
