@use 'sass:map';
@import "src/styles/styles";

$notificationPopUpSize: 300px;
$triangleSize: 30px;

.notification {
  position: relative;


  .notification--list {
    position: absolute;

    width: $notificationPopUpSize;
    height: $notificationPopUpSize;
    border-radius: $borderRadius;
    background-color: white;
    box-shadow: $shadow;
  }

  .notification--triangle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate($notificationPopUpSize - ($triangleSize + 60px), -15px);

    width: 0;
    height: 0;
    border-left: $triangleSize solid transparent;
    border-right: $triangleSize solid transparent;

    border-bottom: $triangleSize solid white;
  }
}
