/* You can add global styles to this file, and also import other style files */
@use 'sass:map';
@import "src/styles/helpers/constants";
@import "modules/mat-theme";

html, body {
  margin: 0;
  font-family: "Roboto";
}

* {
  box-sizing: border-box;
}
