@use "sass:map";
@import "src/styles/styles";

.form {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: map.get($padding, little);


  .form__field {

    display: block;
    width: 60%;
    padding: map.get($padding, little);
    border-radius: $borderRadius;
  }

  .button {
    display: block;
    width: 25%;
    padding: map.get($padding, little);
    border-radius: $borderRadius / 2;
  }

}


