@use "sass:map";
@import "styles";

$inputSize: 700px;

.form {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .form__field {
    @extend .input--wrapper;

    .form__field--input {
      @extend .input;

      .form__field--input__label {
        @extend .input__label;
      }

      .form__field--input__text {
        width: $inputSize;
        @extend .input__text;
      }
    }

    .form__field--errors {
      @extend .input__errors;

      .form__field--errors__item {
        @extend .input__error;
      }
    }

  }

  .button {
    display: flex;
    justify-content: center;
    align-self: center;

    width: $inputSize;
    padding-top: map.get($padding, large);
  }

}


