<form [formGroup]="authForm" (ngSubmit)="submit()" #f="ngForm" class="form">

  <!--  Form Field-->
  <div *ngFor="let formField of formFieldList" class="form__field">

    <!--    Input Field with Label-->
    <div class="form__field--input">
      <label class="form__field--input__label">{{formField}}</label>

      <input [ngClass]="{'is-error-state': isErrorState(authForm.get(formField))}" class="form__field--input__text"
             [placeholder]="dynamicFormData.get(formField).hint"
             [type]="dynamicFormData.get(formField).inputType" [formControlName]="formField">

    </div>

    <!--    Errors-->
    <div class="form__field--errors" *ngIf="isErrorState(authForm.get(formField))">

      <p class="form__field--errors__item"
         *ngFor="let invalidKey of authForm.get(formField).errors?.valueOf() | keyvalue">
        {{this.dynamicFormData.get(formField).messages[invalidKey.key]}}
      </p>

    </div>

  </div>

  <app-primary-button [disabled]="authForm.invalid" class="button">Submit</app-primary-button>
</form>
