@use "sass:map";
@import "styles";

.form {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: map.get($padding, little);


  .form__field {
    @extend .input--wrapper;

    .form__field--input {
      @extend .input;

      .form__field--input__label {
        @extend .input__label;
      }

      .form__field--input__text {
        @extend .input__text;
      }
    }

    .form__field--errors {
      @extend .input__errors;

      .form__field--errors__item {
        @extend .input__error;
      }
    }
  }

  .button {
    display: block;
    width: 25%;
    padding: map.get($padding, little);
    border-radius: $borderRadius / 2;
  }

}


