@use "sass:map";
@import "styles";

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: map.get($color, secondaryVariant);


  .form__field {

    display: block;
    padding: map.get($padding, medium);
    width: 70%;
    border-radius: $borderRadius;
  }

  .button {
    display: block;
    padding: map.get($padding, little);
    width: 20%;
    border-radius: $borderRadius;
  }

}


