@use 'sass:map';
@import "src/styles/styles";

.auth-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;

  .auth-page__title {
    display: block;
    padding: map.get($padding, medium);

    font-size: map.get($fontSize, headline);
    font-weight: map.get($fontWeight, thick);
    color: map.get($color, onSurface);
  }

  .auth-page__form {
    display: block;
    padding: map.get($padding, medium);
  }

  .auth-page__button-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .auth-page__forget {
      color: map.get($color, onSurface);
      font-size: map.get($fontSize, subtitle);
      font-weight: map.get($fontWeight, thin);
      text-underline: map.get($color, onSurface);
    }

    .auth-page__button {
      display: block;
      padding: map.get($padding, medium);
    }
  }

}

