<div class="background">

  <div class="auth-page">

    <ul class="auth-page__nav">
      <li class="auth-page__nav--item" [ngClass]="{'selected': isAuthState('LogIn')}" (click)="setAuthState('LogIn')">
        Log In
      </li>
      <li class="auth-page__nav--item" [ngClass]="{'selected': isAuthState('SignIn')}" (click)="setAuthState('SignIn')">
        Sign Up
      </li>
    </ul>

    <app-auth-form [authState]="authState" class="auth-page__form">
    </app-auth-form>

    <p class="auth-page__forget" (click)="setAuthState('RequestResetPassword')">
      Forget Password ?
    </p>
  </div>
</div>
