<div class="auth-page">

  <h1 class="auth-page__title">
    {{b_logIn ? 'Sign Up' : 'Log In'}}
  </h1>

  <app-auth-form [authState]="authState" class="auth-page__form">
  </app-auth-form>

  <div class="auth-page__button-bar">
    <app-primary-button (click)="b_logIn ? setAuthState('SignIn') : setAuthState('LogIn')" class="auth-page__button">
      {{!b_logIn ? 'Sign Up' : 'Log In'}}
    </app-primary-button>
    <p class="auth-page__forget" (click)="setAuthState('RequestResetPassword')">
      Forget Password ?
    </p>
  </div>
</div>
