@use "sass:map";
@import "styles";

.nav-bar {
  display: flex;
  //background: #5d9125;
  background: radial-gradient(circle, map.get($color, secondary) 17%, map.get($color, primary) 89%);

  .nav-bar__list {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;

    list-style: none;
    width: 100%;
    margin: 0;
    padding: 10px;

    align-items: center;
    align-content: space-evenly;

    color: map.get($color, onPrimary);

    .nav-bar__list--item {
      &:hover {
        background-color: map.get($color, primaryVariant);
      }

      &.router-link-active {
        background-color: map.get($color, primaryVariant);
      }

      display: block;
      padding: 10px 20px;


    }
  }
}

.spacer {
  display: flex;
  flex-grow: 1;
}
