<nav class="nav-bar">

  <ul class="nav-bar__list">

    <li class="nav-bar__list--item" routerLink="/exchange-objects">
      Exchange Objects
    </li>
    <li class="nav-bar__list--item" routerLink="/dashboard">
      Dashboard
    </li>
    <li class="nav-bar__list--item" routerLink="/social">
      Social
    </li>

    <li class="spacer">
    </li>

    <app-profile-menu class="nav-bar__list--profile">
      Profile Thing
    </app-profile-menu>

  </ul>

</nav>

<router-outlet></router-outlet>
