@use "sass:map";
@import "styles";


.nav-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  position: fixed;

  background-color: map.get($color, primary);
  box-shadow: $shadow;
  margin: 0;
  list-style: none;
  width: 100%;
  height: $navBarSize;


  .nav-bar__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    padding: 0 map.get($padding, medium);
    color: map.get($color, onPrimary);

    &:hover {
      color: map.get($color, onPrimaryVariant);
    }

    .nav-bar__item--text {
      display: block;
      font-size: map.get($fontSize, subtitle);
      font-weight: map.get($fontWeight, regular);

      padding: map.get($padding, medium) map.get($padding, little);
      margin: 0;
    }

    .nav-bar__item--svg {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: map.get($fontSize, subtitle);
      width: map.get($fontSize, subtitle);

      padding: map.get($padding, medium) map.get($padding, little);

    }
  }


}

.spacer {
  display: flex;
  flex-grow: 1;
}
