<ul class="nav-bar">

  <li *ngIf="isAuth" class="nav-bar__item">
    <mat-icon>{{grassIcon}}</mat-icon>
  </li>

  <li *ngFor="let navBarEntry of navBarData" class="nav-bar__item" [routerLink]="navBarEntry.path"
      routerLinkActive="router-link-active">
    <mat-icon class="nav-bar__item--svg">{{navBarEntry.icon}}</mat-icon>
    <p class="nav-bar__item--text">
      {{navBarEntry.name}}
    </p>
  </li>

  <li class="spacer">
  </li>

  <app-bell *ngIf="isAuth" class="nav-bar__item"></app-bell>

  <li class="nav-bar__item">
    <app-user-tag></app-user-tag>
  </li>

</ul>

